html,
body {
	height: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
    overflow-x: hidden;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.wrapper {
    display: flex;
	flex-direction: column;
	min-height: 100%;
}

.container {
	max-width: 1295px;
   	width: 100%;
   	margin: 0 auto;
	padding: 0 7.5px;
}

.main {
	flex: 1 0 auto;
}

.footer {
	flex: 0 0 auto;
}

.caption {
    text-align: center;
	letter-spacing: 7px;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.btn {
    background-color: $yellow;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: 700;
	height: 60px;
	cursor: pointer;
	border-radius: 5px;
}