@import "reset.scss";
@import "fonts.scss";
@import "vars.scss";
@import "global.scss";

body.no-scroll {
    overflow: hidden;
	.frame {
		z-index: 998;
	}
}

.header {
    position: absolute;
    width: 100%;
    z-index: 99;
    user-select: none;
    transition: background-color 0.3s;
    &__inner {
        height: 100px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        transition: 0.3s;
    }
}

.header--fixed {
    position: fixed;
    top: 0;
    transition: top 0.4s ease-out;
    background-color: rgba(#000, 0.8);
    .header__inner {
        height: 80px;
    }
    .menu {
        border-bottom: none;
    }
    .logo {
        transform: none;
        transition: 0s;
        &__img {
            transition: 0s;
            width: 75px;
        }
    }
}

.header--hidden {
    transition: top 0.4s ease-out, visibility 0s 0.4s;
    visibility: hidden;
    top: -80px;
}

.menu {
    padding-left: 48px;
    padding-right: 38px;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(#fff, 0.2);
    flex: 1 1 0;
    &__list {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    &__list-link {
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        position: relative;
    }
    &__list-link:active {
        color: $yellow;
    }
    &__list-link:after {
        content: "";
        position: absolute;
        pointer-events: none;
        right: 0;
        bottom: -5px;
        height: 2px;
        width: 0;
        background-color: $yellow;
        transition: 0.5s;
    }
    &__list-link.focus-visible {
        color: $yellow;
        outline: 1px solid $yellow;
        outline-offset: 5px;
    }
}

.logo {
    transform: translateY(50px) rotate(90deg);
    padding: 0 35px;
    transition: 0.3s;
    &__img {
        width: 150px;
        transition: inherit;
    }
}

.open-btn {
    width: 45px;
    height: 45px;
    padding: 10px;
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    transition: background-color 0.3s;
    &:active {
        background-color: rgba(#fff, 0.2);
    }
    &.focus-visible {
        box-shadow: 0 0 0 4px #fff;
    }
    .bar {
        width: 100%;
        height: 3px;
        background-color: $yellow;
        border-radius: 5px;
    }
}

.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    max-width: 300px;
    width: 100%;
    height: 100vh;
    padding-top: 70px;
    background-color: rgba(#000, 0.9);
    z-index: 999;
    visibility: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease-out, visibility 0s 0.3s;
    .menu {
        display: flex;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .menu__list {
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: column;
        align-items: center;
    }
    .menu__list-item:not(:first-child) {
        margin-top: 25px;
    }
    .menu__list-link {
        color: #fff;
        font-size: 14px;
    }
}

.side-menu--visible {
    visibility: visible;
    transform: translateX(0);
    transition: transform 0.3s ease-in;
}

.close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    background-color: $yellow;
    background-image: url("../images/close_icon.svg");
    background-size: cover;
    background-position: center center;
    &:active {
        background-color: darken($yellow, 5%);
    }
    &.focus-visible {
        box-shadow: 0 0 0 2px #fff;
    }
}

.top {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 1080px;
    overflow-y: hidden;
    background: url("../images/top-bg.jpg");
    background-size: cover;
    background-position: center center;
    color: #fff;
    font-weight: 700;
    display: flex;
    padding-top: 100px;
    &__inner {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__hours {
        width: 60px;
        height: 1px;
        position: relative;
    }
    &__hours-text {
        position: absolute;
        font-size: 12px;
        width: max-content;
        transform-origin: bottom left;
        transform: rotateZ(90deg) rotateX(180deg) rotateY(180deg) translateX(-100px) translateY(24px);
    }
    &__banner {
        height: 100%;
        overflow-y: hidden;
        padding-top: 10%;
        padding-left: 38px;
        padding-right: 38px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-left: 1px solid rgba(#fff, 0.2);
        border-right: 1px solid rgba(#fff, 0.2);
    }
    &__banner-caption {
        margin-bottom: 15px;
    }
    &__banner-title {
        font-family: "Banny Bold";
        text-transform: uppercase;
        padding-bottom: 10px;
        font-size: 96px;
        line-height: 106px;
        position: relative;
    }
    &__banner-title:after {
        content: "";
        position: absolute;
        width: 60px;
        height: 5px;
        background-color: $yellow;
        border-radius: 50px;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &__banner-buttons {
        margin-top: 30px;
        display: flex;
        user-select: none;
    }
    &__banner-button {
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__banner-button:last-child {
        background-color: transparent;
        margin-left: 40px;
        border: 1px solid rgba(#fff, 0.5);
    }
    .next {
        border-radius: 50%;
        margin-top: 80px;
        height: 60px;
        width: 60px;
        border: 1px solid rgba(#fff, 0.2);
        position: relative;
    }
    .next img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: 1;
        user-select: none;
    }
    .ellipse {
        width: 40px;
        height: 40px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.3s;
    }
    .next:before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 53vh;
        background-color: rgba(#fff, 0.2);
        pointer-events: none;
        z-index: 0;
    }
    .next:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        width: 1px;
        height: 100vh;
        background-color: rgba(#fff, 0.2);
        pointer-events: none;
        z-index: 0;
    }
    &__social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 60px;
        height: 60px;
        border: 1px solid rgba(#fff, 0.2);
        border-radius: 50%;
        z-index: 3;
        user-select: none;
        transition: 0.3s, box-shadow 0s;
    }
    &__social-item:not(:first-child) {
        margin-top: 20px;
    }
    &__social-item:nth-child(3) {
        position: relative;
    }
    &__social-item:nth-child(3):before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
        border-radius: 50%;
        opacity: 0;
        transition: 0.3s;
        z-index: -1;
    }
    &__banner-button.focus-visible,
    .next.focus-visible,
    &__social-item.focus-visible {
        box-shadow: 0 0 0 4px #fff;
    }
}

.team {
    background-image: url("../images/team-bg.jpg");
}

.book {
    padding-bottom: 45px;
    &__inner {
        padding-bottom: 40px;
    }
    &__form {
        margin-top: 20px;
        display: grid;
        grid-template-columns: repeat(2, minmax(200px, 275px));
        grid-gap: 10px;
    }
    .form-select {
        position: relative;
        border-radius: 5px;
    }
    .form-select:after {
        content: "";
        background-image: url("../images/arrow-down.svg");
        width: 13px;
        height: 9px;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        transition: 0.3s;
        pointer-events: none;
        transform-origin: center center;
    }
    .form-select.focus-visible {
        box-shadow: 0 0 0 4px $yellow;
    }
    .form-select__value {
        background-color: $grey;
	    width: 100%;
	    padding: 20px;
	    line-height: 20px;
	    border-radius: 5px;
        color: rgba(51, 51, 51, 0.5);
        text-align: left;
        user-select: none;
        cursor: pointer;
    }
    .form-select__options {
        position: absolute;
        z-index: 3;
        width: 100%;
        border-radius: 0 5px;
        max-height: 183px;
        overflow-y: scroll;
        display: none;
        border-radius: 0 0 5px 5px;
        scrollbar-color: $yellow $grey;
        scrollbar-width: thin;
        &::-webkit-scrollbar {
            width: 6px;
            background-color: $grey;
            border-radius: 0 0 5px 0;
        }
        &::-webkit-scrollbar-thumb {
            background-color: $yellow;
            border-radius: 5px;
        }
    }
    .form-select--opened .form-select__options {
        display: block;
    }
    .form-select--opened:after {
        transform: translateY(-50%) rotate(180deg);
    }
    .form-select__option {
        background-color: $grey;
        padding: 20px;
        width: 100%;
        border-top: 1px solid rgba($dark-grey, 0.1);
        border-radius: 0;
        text-align: left;
        cursor: pointer;
        box-sizing: border-box;
        color:rgba(51, 51, 51, 0.9);
        transition: 0.3s;
    }
    .form-select__option.focus-visible {
        background-color: darken($grey, 7%);
    }
    &__form-btn {
        grid-column: span 2;
    }
    &__hours {
        color: rgba($dark-grey, 0.5);
        text-align: center;
        white-space: nowrap;
        b {
            font-weight: 700;
        }
        a.focus-visible {
            outline: 2px solid $yellow;
        }
    }
}

.specialties {
    background-image: url("../images/specialty-bg.jpg");
    padding-bottom: 45px;
    &__slider {
        display: flex;
        overflow-x: hidden;
        position: relative;
        user-select: none;
        cursor: grab;
    }
    &__slider-item {
        padding-bottom: 45px;
        transition: opacity 0.2s;
        position: relative;
    }
    &__slider-item:not(:first-child) {
        margin-left: 100px;
    }
    &__slider-dots {
        cursor: auto;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        padding: 3px;
    }
    &__slider-dot {
        cursor: pointer;
        border-radius: 50%;
        width: 10px;
        height: 10px;
        background-color: rgba(#fff, 0.5);
    }
    &__slider-dot.focus-visible {
        box-shadow: 0 0 0 3px #fff;
    }
    &__slider-dot:not(:last-child) {
        margin-right: 20px;
    }
    &__slider-dot--current {
        background-color: #fff;
    }
}

.meals {
    &__title {
        text-align: center;
    }
    &__after-title {
        text-align: center;
        margin: 20px auto 0 auto;
    }
    &__categories {
        margin-top: 48px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    &__categories-button {
        font-size: 12px;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
        width: 120px;
        height: 50px;
        background-color: transparent;
        color: $dark-grey;
        transition: color 0.3s, background-color 0.3s;
    }
    &__categories-button.focus-visible {
        outline: 4px solid $yellow;
    }
    &__categories-button--active {
        color: $yellow;
    }
    &__categories-button:not(:last-child) {
        border-right: 1px solid rgba($dark-grey, 0.2);
    }
    &__block {
        margin-top: 50px;
        width: 100%;
        position: relative;
        transform-style: preserve-3d;
        perspective: 1000px;
    }
    &__list {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 360px);
        grid-gap: 30px;
        justify-content: space-between;
        transform: translateZ(-700px); 
        opacity: 0; 
        visibility: hidden;
        transition: transform 0.5s, opacity 0.6s, visibility 0s 0.6s;
    }
    &__list--match {
        opacity: 1;
        visibility: visible;
        transform: none;
        transition-delay: 0s;
    }
    &__list:not(.meals__list--match) {
        position: absolute;
        top: 0;
        left: 0;
    }
    .list-item {
        text-align: left;
    }
    .list-item__header {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
        font-family: "Banny Bold";
        font-size: 18px;
        line-height: 18px;
        color: $dark-grey;
        text-transform: uppercase;
    }
    .list-item__name {
        flex: 1;
        white-space: nowrap;
        overflow: hidden;
    }
    .list-item__name:after {
        content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . .";
        z-index: -1;
        margin-left: 5px;
    }
    .list-item__cost {
        padding-left: 10px;
        background-color: #fff;
    }
    .list-item__description {
        margin-top: 5px;
        font-size: 12px;
        line-height: 18px;
        color: rgba($dark-grey, 0.5);
    }
}

.frame {
    position: fixed;
    top: 0;
    border: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
}

.events {
    background-image: url("../images/events-bg.jpg");
    padding-bottom: 45px;
    &__inner {
        padding-bottom: 40px;
    }
    &__hours {
        color: rgba(#fff, 0.5);
        text-align: center;
        white-space: nowrap;
        b {
            font-weight: 700;
        }
        a.focus-visible {
            outline: 2px solid $yellow;
        }
    }
    &__image-container:last-child {
        justify-content: flex-start;
        padding-right: 0;
        padding-left: 40px;
    }
    &__image-container:last-child:after {
        left: auto;
        right: 0;
    }
}

.gallery {
    background-color: #000;
    &__inner {
        display: flex;
        justify-content: center;
    }
}

.contact {
    &__title {
        text-align: center;
    }
    &__after-title {
        text-align: center;
        margin: 20px auto 0 auto;
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__form-top {
        margin-top: 50px;
        display: grid;
        grid-template-columns: repeat(3, minmax(200px, 420px));
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 10px;
    }
    &__form-textarea {
        grid-column: span 3;
        grid-row: 2 / span 3;
        resize: none;
    }
    &__form-bottom {
        width: 100%;
        margin-top: 10px;
        display: flex;
        align-items: center;
    }
    &__form-info,
    &__form-btn {
        flex: 1 1 0;
    }
    &__form-btn {
        margin-left: 10px;
    }
    &__form-info {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: rgba(51, 51, 51, 0.5);
        font-weight: 700;
    }
    &__form-address,
    &__form-phone,
    &__form-email {
        width: fit-content;
        padding-left: 20px;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 12px;
            height: 17px;
            transform: translateY(-50%);
        }
    }
    &__form-email a.focus-visible,
    &__form-phone a.focus-visible {
        outline: 2px solid $yellow;
    }
    &__form-address:before {
        background-image: url("../images/point.svg");
        width: 11px;
        height: 16px;
    }
    &__form-phone:before {
        background-image: url("../images/phone.svg");
        width: 16px;
        height: 16px;
    }
    &__form-email:before {
        background-image: url("../images/mail.svg");
        width: 14px;
        height: 12px;
    }
}

.footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(#000, 0.9);
    &__copy,
    a {
        color: rgba(#fff, 0.5);
        font-size: 12px;
    }
    a {
        font-weight: 700;
    }
    a.focus-visible {
        outline: 1px solid #fff;
    }
    span {
        font-weight: 400;
    }
}

@import "media.scss";
